<!-- <div class="container mt-3">
<div class="dropdown">
    <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
      Select
    </a>
  
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <li><a class="dropdown-item" href="#">5</a></li>
      <li><a class="dropdown-item" href="#">10</a></li>
      <li><a class="dropdown-item" href="#">15</a></li>
      <li><a class="dropdown-item" href="#">20</a></li>

    </ul>
  </div>
</div> -->

<!-- <div class="container mt-5">
  
    <h2>Angular Display Data from Json File Example</h2>

    <div class="row">
        <div class="col-md-3 mb-5" *ngFor="let img of Cars; let i=index;">
        <p>  {{i}}</p>
        <img class="img-click" (click)="imageClicked(img)" src="{{ img.url }}"  alt="NA" height="300px" width="300px">
  </div>
  </div>     -->


  <div >
    <div class="row">
      <ng-container *ngFor="let img of imageArr">
        <div class="col-md-3 mb-4">
          <div class="container">
            <!-- pass img object as it is to imageClicked method -->
            <img
              class="img-click"
              src="{{ img.imgPath }}"
              alt="NA"
              (click)="imageClicked(img)"
              height="300px"
              width="300px"
            />
            <!-- since we won't show when the count is 0 -->
            <div class="top-right" *ngIf="img.count != 0">{{ img.count }}</div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  